@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Raiderfont';
  src: local('Raiderfont'), url('../font/Raiderfont.ttf') format('truetype');
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.left,.right{
    position: absolute;
    height: 100%;
    z-index: -1;
}

.left{
    background: #d8d8d8;
    left: 0%;
    width: 100%;
}

.right{
    background:#2672ff ;
    left: 0%;
    width: 100%;
}

/* Navigation Start*/
.nav{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    z-index: 9;
}

.modal-header{
    justify-content: center !important;
}
.modal-content{
    padding:5rem;
    text-align: start;
    background: rgba(255, 255, 255, 0.452);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
.modal-content label{
  color: #002b7c;
}
.voiceModalTitle{
  color: #002b7c;
  font-size: 25px;
  font-weight: 600;
}

#menuBtn{
    display: flex;
    align-items: center;
    z-index: 999;
}

#menuBtn h5{
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    transition:  transform 0.5s;
}
.text_animation{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 35px;
    text-decoration: none;
}

.text_animation .text1{
    transform: translateY(-100%);
}
#menuBtn:hover .text_animation .text1,
#menuBtn:hover .text_animation .text2{
    transform: translateY(20%);
}
.text_animation .text2{
    transform: translateY(-100%);
}
.nav_contact:hover .text_animation .text1,
.nav_contact:hover .text_animation .text2{
    transform: translateY(20%);

}

.menu_toggle{
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

.menu{
    flex: 2;
}
.toggle_line1{
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    height: 3px;
    background-color: black;
    transition: 0.7s;
}

.toggle_line2{
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    display: block;
    height: 3px;
    background-color: black;
    transition: 0.5s;
}
#menuBtn:hover .toggle_line2{
    width: 100%;
}

.menu_toggle.menuActive{
    margin-top: 10px;
}
.menu_toggle.menuActive .toggle_line1{
    transform: rotate(-60deg);
}
.menu_toggle.menuActive .toggle_line2{
    width: 100%;
    transform: rotate(60deg);
    top: 0;
}
.menu_toggle.menuActive{
    width: 20px;
}

.logo{
    flex: 3;
}


/* navigation bar links */

.menu{
    position: fixed;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 998;
    overflow-y: auto;
    transition: all ease 0.5s;
}
  
.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}
  
.menu ul li {
    list-style: none;
    display: block;
    margin-top: 1%;
}
  
.menu ul li a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-shadow: 3px 6px 9px rgb(219, 219, 219);
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 0%;
    height: 8px;
    background-color: #2672ff;
    margin: 0;
    transition: 0.5s;
    border-radius: 5px;
}
.menu ul li a:hover:after{
    width: 100%;
}
.menu.navActive{
    left: 0%;
}

.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    position: absolute;
    top: 0;
    width: 200px;
}

.logo a img{
    width: 100%;
}

/* Navigation End */


/* Social Links Start */

.media{
    position: static;
    top: 0;
    z-index: 99;
}

.media ul{
    position: absolute;
    bottom: 280px;
    left:-160px;
    transform: rotate(90deg);
}

.media ul li{
    position: relative;
    display: inline-block;
    padding: 0 30px;
}
.media ul li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
}

figure img{
    width: 300px;
    transform: translate(-50%, -50%);
}
.wrapper.dark_mode figure img{
    display: none;
}
.wrapper.dark_mode figure .fa-instagram{
    display: block;
}
figure .fa-instagram{
    display: none;
    font-size: 370px;
}

figure i{
    font-size: 300px;
    color: white;
    transform: translate(-50%, -50%);
}

#face,#link,#inst{
    position: absolute;
    top: 20%;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    user-select: none;
    pointer-events: none;
}

/* Social Links End */


/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: rgb(44, 44, 44);  */
    background: #2672ff;
    border-radius: 10px;
    transition: background 0.9s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }


/* Home Page Body Content Start */
.content-page{
    position: relative;
    float: right;
    width: 95vw;
    height: 100%;
    padding: 150px 0 100px 0;
    margin-left: -20%;
}
.content{
  position: relative;
}
.banner_heading{
  position: absolute;
  text-align: start;
  width: 100%;
  top: 180px;
  left: 50px;
}

.banner_heading h1{
  position: relative;
  font-size: 90px;
  font-weight: 700;
  color: black;
}

.banner_heading h2{
  position: relative;
  font-size: 50px;
  font-family: 'Raiderfont';
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke:2px black;
}

.content .header_banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
    left:700px;
  }

.content .header_banner img{
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
}

.header_banner iframe{
    position: absolute;
    top: 45px;
    width: 78%;
    height: 475px;
    left: 11%;
    border: none !important;
}

.sec3 {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }

.banner1, .banner2, .banner3{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .banner1 img, .banner2 img, .banner3 img{
    width: 140%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(4px) grayscale(0.3);
    animation: zoomOut 6s linear infinite;
  }
  
  .banner-text{
    position: absolute;
    width: 600px;
    color: white;
    animation: textUp 4.5s linear infinite;
  }
  .banner-text h2{
    font-family: 'Merienda', cursive;
    font-size: 65px;
    text-align: center;
  }
  .banner-text p{
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
  }
  
  .banner1{ 
    animation: slide1 18s linear infinite;
  }
  .banner2{ 
    animation: slide2 18s linear infinite;
  }
  .banner3{ 
    animation: slide3 18s linear infinite;
  }
.page_headings{
  position: absolute;
  text-align: start;
  width: 100%;
  top: 180px;
  left: 50px;
}
.page_headings ul li{
  list-style: none;
}
.page_headings ul li a{
  text-decoration: none;
  color: black;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.5;
}
/* Home Page Body Content End */

/* Labtools Page */

.labtoolsBanner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.labtoolsBanner img{
    width: 50%;
    transform: none;
}
.wrapper h1.home-parallax{
    position: absolute;
    bottom: 4%;
    font-size: 9.5vw;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    display: block;
}
.labtool_section,.contact_section,.glosary_section,.practical_section{
    position: relative;
    padding: 60px 0;
    background-color: #d8d8d8;
}
.heading{
    font-size: 50px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}
#portfolio .labtool-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);

  }
  #portfolio .labtool-item .labtool-link {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .labtool-link .img-fluid{
      border-radius: 25px 25px 0 0;
  }
  #portfolio .labtool-item .labtool-link .labtool-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2672ffd0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
    border-radius: 25px 25px 0 0;
  }
  #portfolio .labtool-item .labtool-link .labtool-hover .labtool-hover-content {
    font-size: 40px;
    color: white;
  }
  #portfolio .labtool-item .labtool-link:hover .labtool-hover {
    opacity: 1;
  }
  #portfolio .labtool-item .labtool-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: transparent;
  }
.labtool-caption .labtool-caption-heading {
    font-size: 25px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
  }
 
  
  .labtool-modal .modal-dialog {
    margin: 1rem;
    max-width: 100%;
  }
  .labtool-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.452);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .labtool-modal .modal-content h2, .labtool-modal .modal-content .h2 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 20px 0;
  }
 
  .labtool-modal .modal-content p {
    margin-bottom: 2rem;
    font-size: 20px;
  }

  .labtool-modal .modal-content img {
    margin-bottom: 2rem;
    width: 70%;
    border-radius: 5px;
  }
  .labtool-modal .close-modal {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
  }
  .labtool-modal .close-modal:hover {
    opacity: 0.5;
  }

/* Contact Page */

  section#contact .section-heading {
    color: #fff;
  }
  section#contact form#contactForm .form-group {
    margin-bottom: 3.5rem;
  }
  section#contact form#contactForm .form-group input,
  section#contact form#contactForm .form-group textarea {
    padding: 3.25rem;
  }
  section#contact form#contactForm .form-group input.form-control {
    height: 60px;
    border-radius: 50px;
  }
  section#contact form#contactForm .form-group-textarea {
    height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    border-radius: 50px;
    min-height: 10rem;
  }
  section#contact form#contactForm p.help-block {
    margin: 0;
  }
  section#contact form#contactForm .form-control:focus {
    border-color: #2672ff;
    box-shadow: none;
  }
  section#contact form#contactForm ::-webkit-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
    font-size: 20px;
  }

.btn-contact{
    padding: 10px 35px;
    background-color: #2672ff;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.4s;
}
.btn-contact:hover{
    background-color: #002b7c;
    color: white;
}

/* Glosary Page */

.glosary_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


/* Footer Start */

.footer{
    background: black;
    padding: 2rem 9%;
    color: white;
    overflow: hidden;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    color: #002b7c;
    font-size: 2.2rem;
    padding: 1rem 0;
}
.footer .box-container .box a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    display: block;
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: #002b7c;
    transition: 0.5s;

}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    font-size: 2rem;
}

/* Footer End */





















/*****Dark Mode + Voice Btn******/

.voiceBtn{
    position: relative;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.voiceBtn i{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.voiceBtn:hover{
    background: white;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5);
}

.voiceBtn:hover i{
    color: black;
}

.wrapper.dark_mode .left{
    background: #1a1a1a;
}

.wrapper.dark_mode .right{
    background:#002b7c ;
}
.wrapper.dark_mode .toggle_line1,
.wrapper.dark_mode .toggle_line2{
    background-color: white;
}

.wrapper.dark_mode #menuBtn h5{
    color: white;
}
.wrapper.dark_mode .media ul li a{
    color: white;
}
.wrapper.dark_mode .menu ul li a {
    color: white;
}






/* Practical Slider */

@keyframes slide1{
    0%{
      visibility: visible;
    }
  
    25%{
      visibility: hidden;
    }
    
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    
    100%{
      visibility: visible;
    }
  }
  @keyframes slide2{
    0%{
      visibility: hidden;
    }
    
    25%{
      visibility: hidden;
    }
  
    50%{
      visibility: visible;
    }
  
    75%{
      visibility: hidden;
    }
    
    100%{
      visibility: hidden;
    }
  }
  @keyframes slide3{
    0%{
      visibility: hidden;
    }
  
    25%{
      visibility: visible;
    }
    
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    
    100%{
      visibility: hidden;
    }
  }
  
  @keyframes zoomOut {
    100%{
      width: 100%;
    }
  }











/*******Responsive*******/


@media(max-width:1200px){
    .content .header_banner{
        width: 850px;
    }
    .header_banner iframe{
        height: 418px;
    }
    .wrapper h1.home-parallax{
        bottom: 10%;
    }
}
@media(max-width:990px){
    .content .header_banner{
        width: 750px;
    }
    .header_banner iframe{
        height: 365px;
    }
    .wrapper h1.home-parallax{
        bottom: 7%;
    }
    .labtoolsBanner img{
        width: 70%;
    }
}
@media(max-width:824px){
    .content .header_banner{
        display: none;
    }
    
}
@media(max-width:768px){

    .banner_heading h1,
    .banner_heading h2{
      font-size: 45px;
    }
    .wrapper h1.home-parallax{
        bottom: 15%;
    }
    .labtoolsBanner img{
        width: 75%;
    }
}
@media(max-width:640px){
    .wrapper h1.home-parallax{
        bottom: 25%;
    }
    .content-page{
        width: 90vw;
    }
}
@media(max-width:530px){
    
    .wrapper h1.home-parallax{
        bottom: 35%;
    }
}
@media(max-width:500px){
   
}
@media(max-width:425px){
    #menuBtn h5{
        font-size: 16px;
    }
    .text_animation{
        height: 34px;
    }

    .logo a{
        width: 130px;
    }
    figure img{
        width: 200px;
    }
    
    figure i{
        font-size: 200px;
    }
    .menu ul li a {
        font-size: 30px;
    }
    
    .menu ul li a::after{
        height: 4px;
    }
     
    .wrapper h1.home-parallax{
        bottom: 35%;
    }
}
@media(max-width:325px){
    
}